.container {
    display: flex;

    height: 100vh;
    overflow-y: auto;
    flex-direction: column;
}

.chatcontainer {
    flex-grow: 1;
    display: flex;
    align-items: end;
}

.inputcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.inputwraper {
    width: 500px;
    background: var(--lightgray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 8px;
    border: 2px solid var(--lightgreen);
}

.input {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    background: inherit;
}

.messageContainer {
    margin: 0 5px;
    width: 100%;
}

.message {
    background: var(--lightgray);
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    width: fit;
    display: inline;
}

.messagewrapper {
    margin: 20px 0;

    display: flex;
    align-items: center;
}

.messagewrapper.you {
    justify-content: flex-end;
}

.messagewrapper.you .message {
    background: var(--lightgreen);
}

.image {
    border-radius: 50%;
    margin: 0 5px;
}
