.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
}

.centerdiv {
    padding: 10px;
    height: 70%;
    width: 600px;
    background: var(--lightgreen);
}

.input {
    width: 100%;
    background: var(--lightgray);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 8px;
}
.close {
    float: right;
    margin-bottom: 5px;
    padding: 3px;
    color: black;
    background: inherit;
    border: none;
    outline: none;
}
