:root {
    --iceblue: #8babd8;
    --lightgreen: #78e378;
    --red: #f71735;
    --black: #011627;
    --navygray: #707991;
    --lightgray: #f5f5f5;
    --blue: #1a9cff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}
